.pdf-page {
  width: 210mm;
  height: auto;
  padding: 6mm;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.pdf-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.pdf-table td,
.pdf-table th {
  border: 1px solid #000;
  padding: 4px;
}

h3,
h4 {
  margin: 6px 0;
}

.a4-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  overflow-x: auto;
}

/* heder logo and title */
.pdf-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-bottom: 3px;
}

.left-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.logo-left {
  width: 50px; /* fixed width so title stays centered */
}

.logo-left img {
  max-width: 100%;
  height: auto;
}

.header-title {
  flex: 1;
  text-align: center;
}

.header-title h3 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

/* signature */
.sign-left {
  width: 200px; /* fixed width so title stays centered */
}
.sign-right {
  width: 200px; /* fixed width so title stays centered */
}

.sign-left img,
.sign-right img {
  max-width: 100%;
  height: auto;
}

.sheet {
  width: 190mm; /* exact printable width */
  margin: auto;
  font-family: Arial, sans-serif;
  font-size: 10px;
  color: #000;
}

.tbl {
  width: 100%;
  border-collapse: collapse;
  margin-top: 6px;
}

.tbl th,
.tbl td {
  border: 1px solid #000;
  padding: 4px;
  text-align: center;
  font-size: 11px;
  line-height: 1.2;
}

.no-border td,
.no-border th {
  border: none !important;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.footer-container-end {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.footer-container-end-text {
  font-size: 12px;
  font-weight: 500;
}

.footer-container-end-logo img {
  max-width: 200px; /* fixed width so title stays centered */
}

@media print {
  .sheet {
    width: 190mm !important;
    font-size: 10px !important;
  }

  .tbl th,
  .tbl td {
    padding: 2px 4px !important;
    font-size: 9px !important;
    line-height: 1.2 !important;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 2px 0 !important;
  }
}
