#map {
  height: 650px;
  width: auto;
}
.rotated-marker {
  transition: transform 0.3s linear;
}

.loader-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}