<footer class="main-footer d-flex flex-column p-2">
  <!-- <div class="float-right d-none d-sm-inline-block"> -->
  <div class="d-flex w-100 justify-content-end">
      <span class="version-span d-flex justify-content-center align-items-center">
        <span class="version-text"> Version </span> <span> 3.2.0 </span>
      </span>
    </div>

    <div class="bottom-text d-flex flex-column justify-content-center align-items-center">
      <span>
        &copy; 2025 & beyond | Property of ASTC, Govt. of Assam
      </span>
      <span class="last-bottom-text">
        Design and developed by - <a href="#">SkaplinkTechnologies Pvt. Ltd.</a>
      </span>
    </div>
  </footer>